{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="success-container">
      <img src="{% static 'src/images/logo3.svg' %}"class="success-logo">
        <h1>Thank You!</h1> 
        <p>Your request has been registered and you will get a call from us soon</p>
        <a href="/" class="btn btn-primary">Back Home</a>
        <p class="contact-text">If you have any issues contact us.</p>
    </div>
</body>
</html>
